<!-- Form 1 -->
<form class="form-signin" [formGroup]="formMoneyOrder" (ngSubmit)="onSubmit()" style="margin-left: 20px;">

  <div class="input-group input-group-lg form-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg" style="width: 180px">Gönderen Hesap</span>
    </div>
    <app-accounts-combo-control [accountListData]="accountStore.customerAccountsData$ | async"
      (accountSelectionChangeEvent)="sourceAccountChanged($event)" (formReady)="formReady('sourceAccount', $event)"></app-accounts-combo-control>
  </div>

  <div class="input-group input-group-lg form-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg" style="width: 180px">Alıcı Hesap</span>
    </div>
    <app-accounts-combo-control [accountListData]="accountStore.customerAccountsData$ | async" [currencyFilter]="sourceAccountCurrencyCode"
      (accountSelectionChangeEvent)="sourceAccountChanged($event)" (formReady)="formReady('destinationAccount', $event)"></app-accounts-combo-control>
  </div>

  <div class="input-group input-group-lg form-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg" style="width: 130px">Tutar</span>
    </div>
    <input type="number" formControlName="amount" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
    <div class="input-group-append">
      <span class="input-group-text">{{ sourceAccountCurrencyCode }}</span>
    </div>
  </div>

  <div class="input-group input-group-lg form-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg" style="width: 130px">Açıklama</span>
    </div>
    <input type="text" formControlName="explanation" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
  </div>

  <div class="input-group input-group-lg form-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg" style="width: 130px">İşlem Tarihi</span>
    </div>
    <input type="text" formControlName="transactionDate" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
  </div>

  <div class="form-group">
    <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Gönder</button>
  </div>
</form>

<pre>
  {{formMoneyOrder.value | json}}
</pre>