<div style="text-align:center; vertical-align:middle">
  <span>
    <i class="fa fa-spinner fa-spin" style="font-size: 72px"></i>
    Data yükleniyor
  </span>
</div>
<div style="text-align:center">
  <h3>Kampanyalar</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Kaynak Hesap No</th>
        <th scope="col">Tutar</th>
        <th scope="col">Döviz Kodu</th>
        <th scope="col">Alıcı Hesap</th>
        <th scope="col">Alıcı Adı</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>