<div style="text-align:center">
    <div class="container">
      <h3 class="bg-primary text-white">Kredi Kartları <button class="btn btn-info" type="button" (click)="this.cardStore.fetchCards(true)">Yenile</button></h3>
    </div>
     <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Kredi Kartı No</th>
          <th scope="col">Kart Adı</th>
          <th scope="col">Kullanılabilir Limit</th>
          <th scope="col">Dönemiçi Harcama</th>
          <th scope="col">Kalan Borç</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of (cardStore?.cardListData$ | async)?.creditCardListResponse?.creditCardList">
          <th scope="row" style="align-content: center"><input class="form-check-input" type="radio" name="cardRadio" id="cardRadio"
              value="cardRadio1"></th>
          <td>{{ card.maskedCardNumber }} </td>
          <td>{{ card.name }}</td>
          <td>{{ card.availableLimit }}</td>
          <td>{{ card.totalSpendingDomestic }}</td>
          <td>{{ card.remainingDebt }}</td>
          <td><img id="cardImage" [attr.src]="card.image" style="max-width: 100px"/></td>
          <td><button class="btn btn-info" type="button" (click)="onIntermRecordsButtonClick(card.guid)">Dönem İçi Hareketler</button></td>
        </tr>
        <tr *ngFor="let card of (cardStore?.cardListData$ | async)?.extendCardListResponse?.extendCreditCardList">
          <th scope="row" style="align-content: center"><input class="form-check-input" type="radio" name="cardRadio" id="cardRadio"
              value="cardRadio1"></th>
          <td>{{ card.maskedCardNumber }} </td>
          <td>{{ card.name }}</td>
          <td>{{ card.availableLimit }}</td>
          <td>{{ card.totalSpendingDomestic }}</td>
          <td>{{ card.remainingDebt }}</td>
          <td><img id="cardImage" [attr.src]="card.image" style="max-width: 100px"/></td>
          <td><button class="btn btn-info" type="button" (click)="onIntermRecordsButtonClick(card.guid)">Dönem İçi Hareketler</button></td>
        </tr>
      </tbody>
    </table>
  </div>
   <div style="text-align:center">
    <div class="container">
      <h3 class="bg-primary text-white">Sanal Kartlar</h3>
    </div>
     <table class="table table-hover table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th scope="col">Kredi Kartı No</th>
          <th scope="col">cvv2</th>
          <th scope="col">Kart Adı</th>
          <th scope="col">Kullanılabilir Limit</th>
          <th scope="col">Son Kullanma Tarihi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of (cardStore?.cardListData$ | async)?.virtualCardListResponse?.virtualCardList">
          <th scope="row" style="align-content: center"><input class="form-check-input" type="radio" name="cardRadio" id="cardRadio"
              value="cardRadio1"></th>
          <td>{{ card.clearCardNumber }} </td>
          <td>{{ card.cvv2 }} </td>
          <td>{{ card.name }}</td>
          <td>{{ card.availableLimit }}</td>
          <td>{{ card.expiryDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
 