<app-card-grid [showIntermRecordsButton]="true"></app-card-grid>

<div style="text-align:center">
  <div class="container">
    <h3 class="bg-primary text-white">Virtual Cards</h3>
  </div>
  <table class="table table-hover table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th scope="col">Card No</th>
        <th scope="col">Cvv2</th>
        <th scope="col">Card Name</th>
        <th scope="col">Available Limit</th>
        <th scope="col">Expiry Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of (cardFacade.cardList$ | async)?.virtualCardListResponse?.virtualCardList">
        <th scope="row" style="align-content: center"><input type="radio" name="cardRadio" id="cardRadio" value="cardRadio1"></th>
        <td>{{ card.clearCardNumber }} </td>
        <td>{{ card.cvv2 }} </td>
        <td>{{ card.name }}</td>
        <td>{{ card.availableLimit }}</td>
        <td>{{ card.expiryDate }}</td>
      </tr>
    </tbody>
  </table>
</div>