<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Hesap Detayı</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped" *ngIf="account != null">

            <tbody>
              <tr><th>Hesap No</th><td class="text-nowrap" scope="row">{{ account.formattedNumber }}</td></tr>
              <tr><th>IBAN</th><td>{{ account.iban }}</td></tr>
              <tr><th>Hesap Tipi</th><td>{{ account.type }}</td></tr>
              <tr><th>Şube Adı</th><td>{{ account.branchName }}</td></tr>
              <tr><th>Bakiye</th><td>{{ account.balance }}</td></tr>
              <tr><th>Kullanılabilir Bakiye</th><td>{{ account.availableBalance }}</td></tr>
              <tr><th>Döviz Kodu</th><td>{{ account.currencyCode }}</td></tr>
              <tr><th>Hesap İsmi</th><td>{{ account.name }}</td></tr>
              <tr><th>Ürün Kodu</th><td>{{ account.originalProductCode }}</td></tr>
            </tbody>
          </table>

          <span *ngIf="account == null">account is null</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>