<!-- Modal -->
<div class="modal fade" id="accountDetailModalCenter" tabindex="-1" role="dialog" aria-labelledby="accountDetailModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="accountDetailModalCenterTitle">Account Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped" *ngIf="account != null">

            <tbody>
              <tr><th>Account No</th><td class="text-nowrap" scope="row">{{ account.formattedNumber }}</td></tr>
              <tr><th>IBAN</th><td>{{ account.iban }}</td></tr>
              <tr><th>Account Type</th><td>{{ account.type }}</td></tr>
              <tr><th>Branch Name</th><td>{{ account.branchName }}</td></tr>
              <tr><th>Balance</th><td>{{ account.balance }}</td></tr>
              <tr><th>Available Balance</th><td>{{ account.availableBalance }}</td></tr>
              <tr><th>Currency Code</th><td>{{ account.currencyCode }}</td></tr>
              <tr><th>Account Name</th><td>{{ account.name }}</td></tr>
              <tr><th>Product Code</th><td>{{ account.originalProductCode }}</td></tr>
            </tbody>
          </table>

          <span *ngIf="account == null">account is not found</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>