<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
    <div class="col-2">
        <app-menu></app-menu>
    </div>
    <div class="col-8">
        <!-- <div style="text-align:center; vertical-align:middle" *ngIf="loaderStore.isLoading | async" id="loadingGeneralDiv">
            <span>
                <i class="fa fa-spinner fa-spin" style="font-size: 72px"></i>
                Data yükleniyor. Lütfen bekleyin.
            </span>
        </div> -->
        <app-alert></app-alert>
        <router-outlet></router-outlet>
    </div>
</div>


<app-spinner></app-spinner>

<!-- <div class="row">
    <div class="col-2">
        <nav class="nav flex-column"  *ngIf="this.loginService.isUserLoggedIn">
            <a class="nav-link active" [routerLink]="['/accounts/account-list']">Hesaplar</a>
            <a class="nav-link" [routerLink]="['/accounts/recent-transfers']">Son Transferler</a>
            <a class="nav-link" [routerLink]="['misc/payment-activities']">Ödeme Listesi</a>
        </nav> 
        <app-menu></app-menu>
    </div>
    <div class="col-10">
        <router-outlet></router-outlet>
    </div>
    
  </div> -->