<div style="text-align:center" *ngIf="accountStore.accountActivityData$ | async">
  <table class="table table-hover table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tarih</th>
        <th scope="col">İşlem Türü</th>
        <th scope="col">İşlem Tutarı</th>
        <th scope="col">Döviz Kodu</th>
        <th scope="col">Kalan Bakiye</th>
        <th scope="col">İşlem Açıklaması</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of (accountStore.accountActivityData$ | async)?.activities">
        <td>{{ activity['time'] | dateFormat }}</td>
        <td>{{ activity['transactionDescription'] }}</td>
        <td>{{ activity['amount'] }}</td>
        <td>{{ activity['currencyCode'] }}</td>
        <td>{{ activity['remainingBalance'] }}</td>
        <td>{{ activity['description'] }}</td>
        <td><button class="btn btn-info" type="button" (click)="onReceiptButtonClick(activity['receiptId'])"
            data-toggle="modal" data-target="#receiptModalCenter">Dekont</button></td>
      </tr>
    </tbody>
  </table>
</div>


<app-receipt></app-receipt>