<div style="text-align:center" *ngIf="accountState$ | async as accountState">
  <table class="table table-hover table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Transaction Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Currency Code</th>
        <th scope="col">Remaining Balance</th>
        <th scope="col">Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of accountState?.accountActivities?.activities">
        <td>{{ activity['time'] | dateFormat }}</td>
        <td>{{ activity['transactionDescription'] }}</td>
        <td>{{ activity['amount'] }}</td>
        <td>{{ activity['currencyCode'] }}</td>
        <td>{{ activity['remainingBalance'] }}</td>
        <td>{{ activity['description'] }}</td>
        <td><button class="btn btn-info" type="button" (click)="onReceiptButtonClick(accountState.accountActivities.accountId, activity['receiptId'])"
            data-toggle="modal" data-target="#receiptModalCenter">Receipt</button></td>
      </tr>
    </tbody>
  </table>
</div>

<app-receipt></app-receipt>