<!-- Form 1 -->
<form class="form-signin" [formGroup]="formSignin" (ngSubmit)="onformSigninSubmit()" *ngIf="loginStep == 1">
  <div class="text-center mb-4">
    <h4 class="h5 mb-3 font-weight-normal">Kullanıcı adı ve şifrenizi giriniz.</h4>
  </div>

  <div class="form-label-group">
    <input type="text" id="username" formControlName="username" class="form-control" placeholder="Kullanıcı adı"
      required="" autofocus="">
    <label for="username">Kullanıcı adı</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="password" formControlName="password" class="form-control" placeholder="Şifre" required="">
    <label for="password">Şifre</label>
  </div>

  <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Devam</button>
</form>

<!-- Form 2 -->
<form class="form-signin" [formGroup]="formOtpValidation" (ngSubmit)="onformOtpValidationSubmit()" *ngIf="loginStep == 2 || loginStep == 3">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">{{ loginUserResponse.firstName + ' ' + loginUserResponse.lastName }}</h1>
  </div>

  <div class="text-center mb-4">
    <p>Güvenlik Resminiz</p>
    <img id="securityImage" [attr.src]="securityImageData | bypassImgResSecurity" />
  </div>

  <div class="text-center mb-4">
    <button class="btn btn-lg btn-outline-info" type="button" id="createOTPButton" name="createOTPButton" (click)="onCreateOTPButtonClicked()">Sms
      Şifre Gönder</button>
  </div>

  <div *ngIf="createOtpResponse != null">
    <div class="form-group">
      <span>Sms şifreniz {{ createOtpResponse['maskedPhoneNumber'] }} nolu telefona gönderilmiştir.</span>
      <span>{{ createOtpResponse['expiresIn'] }} sn. içerisinde şifrenizi giriniz.</span>
    </div>

    <div class="form-label-group">
      <input type="smscode" id="smscode" formControlName="smscode" class="form-control" placeholder="SMS Şifre"
        required="">
      <label for="smscode">SMS Şifre</label>
    </div>

    <button class="btn btn-lg btn-outline-primary btn-block" type="submit" [disabled]="!formOtpValidation.valid">Giriş</button>
  </div>

</form>