<div style="text-align:center">
  <div style="text-align:right"><button class="btn btn-outline-secondary btn-sm" type="button"
      (click)="refreshButtonClicked()">Refresh</button></div>
  <table class="table table-hover table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <!-- <th></th> -->
        <th scope="col">{{ "MissingOrderList.AccountNo.Label" | res }}</th>
        <th scope="col">Branch Name</th>
        <th scope="col">Account Name</th>
        <th scope="col">{{ "Accounts.TermDeposit.BalanceLabel" | res }}</th>
        <th scope="col">{{ "Accounts.DemandDeposit.AvailableBalanceLabel" | res }}</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accountFacade.accounts$ | async">
        <!-- <td scope="row" style="align-content: center"><input type="radio" name="accountRadio" id="accountRadio"
            value="accountRadio1"></td> -->
        <td>{{ account.number }}</td>
        <td>{{ account.branchName }}</td>
        <td>{{ account.name }}</td>
        <td>{{ account.balance }}</td>
        <td>{{ account.availableBalance }}</td>
        <td><button class="btn btn-info" type="button" (click)="onDetailsButtonClick(account)" data-toggle="modal"
            data-target="#accountDetailModalCenter">Details</button></td>
        <td><button class="btn btn-info" type="button"
            (click)="onActivitiesButtonClick(account['id'])">{{"AccountDetail.AccountTransactionButton" | res}}</button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-account-detail [account]="selectedAccountForDetails"></app-account-detail>
</div>