<div class="table-responsive">
  <table class="table table-hover table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <!-- <th>#</th> -->
        <th>Hesap No</th>
        <th>Şube Adı</th>
        <th>Hesap Adı</th>
        <th>Bakiye</th>
        <th>Kullanılabilir Bakiye</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accountStore.customerAccountsData$ | async">
        <!-- <td><input class="form-check-input" type="radio" name="accountRadio" id="accountRadio" value="accountRadio1"/></td> -->
        <td>{{ account.number }}</td>
        <td>{{ account.branchName }}</td>
        <td>{{ account.name }}</td>
        <td>{{ account.balance }}</td>
        <td>{{ account.availableBalance }}</td>
        <td><button class="btn btn-info" type="button" (click)="onDetailsButtonClick(account)" data-toggle="modal"
            data-target="#accountDetailModalCenter">Detay</button></td>
        <td><button class="btn btn-info" type="button" (click)="onActivitiesButtonClick(account['id'])">Hareketler</button></td>
      </tr>

    </tbody>
  </table>

  <app-account-detail [account]="selectedAccountForDetails"></app-account-detail>
</div>