<div>
  <table class="table table-hover table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><span appResource='MissingOrderList.AccountNo.Label'></span></th>
        <th scope="col">Branch Name</th>
        <th scope="col">Account Name</th>
        <th scope="col"><span appResource='Accounts.TermDeposit.BalanceLabel'></span></th>
        <th scope="col"><span appResource='Accounts.DemandDeposit.AvailableBalanceLabel'></span></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accountListToView">
        <td>{{ account.number }}</td>
        <td>{{ account.branchName }}</td>
        <td>{{ account.name }}</td>
        <td>{{ account.balance | money : account.currencyCode }}</td>
        <td>{{ account.availableBalance | money : account.currencyCode }}</td>
        <td><button class="btn btn-info" type="button" (click)="onDetailsButtonClick(account)">{{ 'AccountList.DetailsButton' | res | titlecase }}</button></td>
        <td><button class="btn btn-info" type="button" (click)="onActivitiesButtonClick(account['id'])">{{ 'AccountDetail.AccountTransactionButton' | res }}</button></td>
      </tr>
    </tbody>
  </table>
</div>