<div style="text-align:center" *ngIf="(paymentState$ | async)?.paymentActivities != null && paymentState$ | async as paymentState">

  <table class="table table-hover table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Association Code</th>
        <th scope="col">Subscriber Number</th>
        <th scope="col">Payment Date</th>
        <th scope="col">Payment Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of paymentState.paymentActivities.lastPaymentsDetails">
        <td>{{ p.associationCode }}</td>
        <td>{{ p.subscriberNumber }}</td>
        <td>{{ p.paymentDate | dateFormat }}</td>
        <td class="text-right">{{ p.paymentAmount | number : '1.2-2' }} {{ p.currency }}</td>
      </tr>
    </tbody>
  </table>
</div>