<div style="text-align:center" *ngIf="transferFacade.transferActivities$ | async as transferActivities">
  <table class="table table-hover table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th scope="col">Source Account Number</th>
        <th scope="col">Amount</th>
        <th scope="col">Currency</th>
        <th scope="col">Destination Account Number</th>
        <th scope="col">Receiver Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of transferActivities?.transactions">
        <td style="align-content: center">
          <input type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
        </td>
        <td>{{ t.sourceBranchCode + '-' + t.sourceCustomerNumber + '-'+ t.sourceExtensionNumber }}</td>
        <td>{{ t.amount }}</td>
        <td>{{ t.currency }}</td>
        <td>{{ t.destinationBranchCode + '-' + t.destinationCustomerNumber + '-' + t.destinationExtensionNumber }}</td>
        <td>{{ t.receiverName }}</td>
      </tr>
    </tbody>
  </table>
</div>

